<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{error}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            {{error}}
        </p>
        <img src="https://webdeasy.de/wp-content/uploads/2020/06/404-pages.jpg" alt="Error Img" style="width: 900px;">
    </div>
{{>footer}}    
</body>
</html>